<%= render '/layouts/info' %>
<body> 
<%= render '/layouts/header' %>
    <div class="container">
        <h1 class="text-left mt-4">Resultado da busca por '<%= @nome %>'</h1>
        <div class="row mt-4 pb-6">    
            <% @produtos.each do |produto| %>
                <div class="col-sm col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://previews.123rf.com/images/fordzolo/fordzolo1602/fordzolo160200344/51875762-coming-soon-wording-on-chipped-blue-rectangular-signs.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">Produto: <%= produto.nome %></h5>
                            <p class="card-text">Tamanho: <%= produto.tamanho %></p>
                            <p class="card-text">Descrição: <%= produto.descricao %></p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<%= render '/layouts/footer' %>