<%= render '/layouts/info' %>
<%= render '/layouts/header' %>
<div class="container">
    <h1>Editar Categoria</h1>
    <%= form_with(model: @categoria, local: true) do |form| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h5>
      <ul>
      <% @categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <div class="form-group">
        Descrição
        <%= form.text_field :descricao  ,class:"form-control"%>
      </div>
                <div class="form-group form-check">
      <%= form.check_box :ativo  ,class:"form-check-input"%>
      <%= form.label :ativo, class:"form-check-label"%>
      </div>
        <div class="actions">
    <%= form.submit "Salvar", class:"btn btn-success min-width-btn" %>
  </div>
    <% end %>
    <br>    
</div>

<%= render '/layouts/footer' %>