<%= render '/layouts/info' %>
<%= render '/layouts/header' %>
    <div class="container">
        <h1 class="text-center mt-4">Produtos disponíveis para resgate</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Condição</td>
                    <td>Categoria</td>
                    <td>Tamanho</td>
                    <td>Descrição</td>
                    <td>Marca</td>
                    <td>Imagem</td>
                    <td colspan="1">
                    <td colspan="1">
                </tr>
            </thead>
            <tbody>

            <% @produtos.each do |produto| %>
                <% if produto.ja_doado %> 
                <% else %> 
                    <tr>
                        <td><%= produto.nome %></td>
                        <td><%= produto.condicao %></td>
                        <td><%= produto.categoria %></td>
                        <td><%= produto.tamanho %></td>
                        <td><%= produto.descricao %></td>
                        <td><%= produto.marca %></td>
                        <td><img src='/uploads/<%= produto.imagem %>' width="45px" height="45px" /></td>
                        <td><%= button_to "Detalhes", produto, method: :show, 
                        class:"btn btn-primary" %></td>
                        <!-- os produtos que o usuário cadastrou. --> 
                        <td><%= link_to "Remover", { action: :destroy, id: produto.id }, method: :delete, data: {confirm: 'Tem certeza que deseja remover o produto?'}, class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
<%= render '/layouts/footer' %>