<%= render '/layouts/info' %>
<%= render '/layouts/header' %>
<div class="container">
  <h1 class="text-center mt-4">Cadastrar Novo Produto</h1>
  <div class="d-flex justify-content-center">
  <%= form_with scope: :produto, url: produtos_path, local: true do |form| %>
    <p>
      <%= form.label :nome %><br>
      <%= form.text_field :nome, class: 'form-control' %>
    </p>
  
    <p>
      <%= form.label :condicao %><br>
      <%= form.select(:condicao, ['Novo', 'Usado'], {}, { :class => 'form-control' }) %>            
    </p>

    <p>
      <%= form.label :categoria %><br>
      <%= form.select(:categoria, @categoria.map { |value| [ value.descricao, value.descricao ] }, {}, { :class => 'form-control', :selected => :categoria  }) %>            
    </p>  
    <p>
      <%= form.label :tamanho %><br>
      <%= form.text_field :tamanho, class: 'form-control' %>
    </p>  
    <p>
      <%= form.label :imagem %><br>
      <%= form.file_field :imagem, class: 'form-control' %>
    </p> 
    <p>
      <%= form.submit 'Salvar novo produto', class: "btn btn-lg btn-primary btn-block" %>
    </p>
  <% end %>

  <% if @produto.errors.any? %>
  <div id="error_explanation">
      <h2>
      <%= @produto.errors.count %> erro(s) impedem que o produto seja salvo:
      </h2>
      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
  </div>
    </div>
<%= render '/layouts/footer' %>