<%= render '/layouts/info' %>
<%= render '/layouts/header' %>
    <div class="container">
      <h1>Detalhes do produto</h1>
      <table class="table table-striped">
        <tbody>
            <div class="d-flex justify-content-around">
                <img src='/uploads/<%= @produto.imagem %>' />
            </div>
            <tr>
              <th>Nome:</th>
                <td><%= @produto.nome %></td>
            </tr>
            <tr>
              <th>Situação</th>
                <td><%= @produto.situacao %></td>
            </tr>
            <tr>
              <th>Categoria:</th>
                <td><%= @produto.categoria %></td>
            </tr>
            <tr>
              <th>Tamanho:</th>
                <td><%= @produto.tamanho %></td>
            </tr>
            <tr>
              <th>Descrição:</th>
                <td><%= @produto.descricao %></td>
            </tr>
            <tr>
              <th>Já doado?</th>
                <td><%= @produto.ja_doado %></td>
            </tr>
        </tbody>
      </table>
      <!-- Criar funções para que os botões sejam apresentados de acordo com o user -->
      <div class="d-flex justify-content-around">
        <% if session[:usuario_id] == @produto.usuario_id %>
        <%= link_to "Editar", edit_produto_path(@produto.id), class:"btn btn-warning" %>
        <button class="btn btn-danger">Remover</button>
        <% else %>
        <button class="btn btn-primary">Quero resgatar</button>
        <% end %>
      </div>
    </div>
<%= render '/layouts/footer' %>