<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(usuario.errors.count, "erro") %> impedem esse usuário de ser salvo:</h5>
      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-10">
    <%= form.label :nome %>
    <%= form.text_field :nome  ,class:"form-control" %>
  </div>
  <div class="form-group col-10">
    <%= form.label :email %>
    <%= form.text_field :email  ,class:"form-control" %>
  </div>
  <div class="form-group col-6">
    <%= form.label :Senha %>
    <%= form.password_field :password, class:"form-control" %>
  </div>
  <div class="form-group col-6">
    <%= form.label :Redigite_Senha %>
    <%= form.password_field :password_confirmation ,class:"form-control" %>
  </div>  
  <div class="form-group col-6">
    <%= form.label :cpf %>
    <%= form.text_field :cpf  ,class:"form-control"%>
  </div>
  <div class="form-group col-6">
    <%= form.label :dataNascimento %>
    <%= form.date_select :dataNascimento, end_year:2020, start_year: 1920  ,class:"form-control"%>
  </div>
  <div class="form-group col-6">
    <%= form.label :cep %>
    <%= form.text_field :cep  ,class:"form-control"%>
  </div>
  <div class="form-group col-6">
    <%= form.label :telefone %>
    <%= form.text_field :telefone  ,class:"form-control"%>
  </div> 
  <div class="actions col-3">
    <%= form.submit "Salvar", class:"btn btn-success min-width-btn" %>
  </div>  
<% end %>
