
<div class="container-fluid">
  <h1>Usuarios</h1>
  <table class="table">
    <thead>
      <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Cpf</th>
                  <th>Datanascimento</th>
                  <th>Cep</th>
                  <th>Telefone</th>
                <th></th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.find(current_user.id) do |usuario| %>
        <tr>
                      <td>
              <%= usuario.nome %>
            </td>      
                      <td>
              <%= usuario.email %>
            </td>      
                      <td>
              <%= usuario.cpf %>
            </td>      
                      <td>
              <%= usuario.dataNascimento %>
            </td>      
                      <td>
              <%= usuario.cep %>
            </td>      
                      <td>
              <%= usuario.telefone %>
            </td>      
                    <td>
          <%= link_to 'Detalhes', usuario, class:"btn btn-light min-width-btn" %>
          <%= link_to 'Editar', edit_usuario_path(usuario),class:"btn btn-primary min-width-btn"  %>     
          <%= link_to 'Deletar', usuario, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger min-width-btn"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% if logged_in? && current_user.nome == 'admin' %>
    <%= link_to 'Novo Usuario', new_usuario_path,class:"btn btn-success min-width-btn" %>
  <% end %>
  <hr>
   <a id="voltar" href="/" class="btn btn-light min-width-btn">Voltar</a>  
</div>
