<h1>Cadastrar</h1>
<%= form_for @usuario do |f|%>
  <%= f.label :apelido%><br>
  <%= f.text_field :apelido%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit "Cadastrar"%>
<%end%>