<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand logo" href="/"><%= image_tag("logo.png") %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <% if logged_in? %>
            <li class="nav-item">
               <h3> Olá, <%= current_user.nome %></h3>
            </li>   
            <li class="nav-item">
                <a id="listar-produto" href="/produtos" class="nav-link">Produtos</a>
            </li>
             <li class="nav-item">
                <a id="listar-meus-produto" href="/meus_produtos" class="nav-link">Meus Produtos</a>
            </li>
            <li class="nav-item">
                <a id="cadastrar-produto" href="/produtos/new" class="nav-link">Cadastrar produto</a>
            </li>

            <li class="nav-item">
                <a id="usuarios" href="/usuarios" class="nav-link">Perfil</a>
            </li>
            <li class="nav-item">
                <a id="categorias" href="/categoria" class="nav-link">Categoria</a>
            </li>
            <li class="nav-item">
                <a id="sair" href="/sair" class="nav-link">Sair</a>                
            </li>
            <% else %>
            <li class="nav-item">
                <a id="entrar" href="/entrar">Entrar</a>
            </li>
            <li class="nav-item">
                <a id="cadastrar" href="/cadastrar">Cadastrar</a>
            </li>
            <%end%>
            <li class="nav-item">
             <%= form_with method: :get, url: buscar_produto_path, class:"nav-item", local: true do |form| %>                
                    <div>
                        <%= form.text_field :nome, class:"buscar-produto-menu" %>
                        <%= form.submit 'Buscar', class: "btn-secundario-nopad" %>                        
                    </div>
                <% end %>
            </li>
        </ul>
    </div>
</nav>