<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= nav_bar brand: "Doei!", brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Entrar", login_path %>
      <% end %>
      <%= menu_group do %>
        <%= menu_item "Cadastrar novo produto", new_produto_path %>
      <% end %>
      <%= form_tag busca_produto_path, method: :get, class:"navbar-form navbar-right" do %>
        <div class="form-group">
          <%= text_field_tag :nome, @nome, class:"form-control" %>
          <%= button_to "Buscar", nil, class:"btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
